@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor:url('./img/arrowhead-rounded-outline\ \(2\).svg' ), auto; */

}

body{
    font-family:'Poppins' , Verdana, Geneva, Tahoma, sans-serif;
    background: url('./img/Untitled-1.png') no-repeat center center fixed;
    background-size: cover;
    
}

header{
    padding: 15px;
    /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;  */
    background-color: white;       
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.f-name{
    color: #C1121F;
}

.profil-logo{
    max-width: 60px;
    border-radius:50%;
}

.logo {
    border-radius: 50%;
    width: 65%;
    animation: floating 1.5s infinite ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.social-links{
    display: flex;
    gap: 20px;
}

.social-links a{
    font-size:40px;
    color: darkgrey;

}

.skills{
    display: flex;
    flex-direction: column;
}

.language-icon{
    font-size: 40px;
}

.languages div i {
    font-size: 40px;
}